@model BakerWebApp.Models.Registro

@{
    ViewData["Title"] = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Registro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pagado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pagado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.RegistroId">Modificar</a> |
    <a asp-action="Index">Volver a Registros</a>
</p>
